<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/location.js"></script>
    <script src="javascripts/load.js"></script>
    <script src="javascripts/reviewRating.js"></script>
    <script src="javascripts/date.js"></script>
    <script src="javascripts/profile.js"></script>
    <title><%= title %></title>
</head>
<body onload="load();">
<div class="main-wrapper">

    <% include header.ejs %>

    <div class="user-form">

        <div class="user-border">

            <div class="user-title"><%= title %></div>

            <div class="profile s-font">

                <div class="row">
                    <div class="profile-details col-50" id="profile-details">

                        <div class="row">
                            <div class="col-8"><h2>Personal Details</h2></div>

                            <%if (myProfile === true){%>
                                <div class="col-4"><button class="profile-edit" onclick="showEdit()">Edit</button></div>
                            <%}%>
                        </div>

                        <div class="row">
                            <div class="col-6">Forename:</div>
                            <div class="col-6"><%= user.forename %></div>
                        </div>

                        <div class="row">
                            <div class="col-6">Surname:</div>
                            <div class="col-6"><%= user.surname %></div>
                        </div>

                        <div class="row">
                            <div class="col-6">Username:</div>
                            <div class="col-6"><%= user.username %></div>
                        </div>

                        <%if (myProfile === true){%>
                            <div class="row">
                                <div class="col-6">Email:</div>
                                <div class="col-6"><%= user.email %></div>
                            </div>
                        <%}%>

                    </div>

                    <div class="edit-profile-details col-50" id="edit-profile-details" style="display: none">

                        <div class="row">
                            <div class="col-8"><h2>Edit Personal Details</h2></div>

                            <div class="col-4"><button class="profile-edit" onclick="showDetails()">Back</button></div>
                        </div>

                        <div class="row edit">
                            <div class="col-30">Username:</div>
                            <div class="col-60"><%= user.username %></div>
                        </div>

                        <form id="editProfile" onsubmit="">

                            <div class="row edit-profile">
                                <div class="col-30">
                                    <label for='f'>Forename:</label>
                                </div>

                                <div class="col-70">
                                    <input type="'text" placeholder="Enter Forename" name="f" id="f" value="<%= user.forename %>">
                                </div>
                            </div>

                            <div class="row edit-profile">
                                <div class="col-30">
                                    <label for='s'>Surname:</label>
                                </div>

                                <div class="col-70">
                                    <input type="'text" placeholder="Enter Surname" name="s" id="s" value="<%= user.surname %>">
                                </div>
                            </div>

                            <div class="row edit-profile">
                                <div class="col-30">
                                    <label for='e'>Surname:</label>
                                </div>

                                <div class="col-70">
                                    <input type="'text" placeholder="Enter Email" name="e" id="e" value="<%= user.email %>">
                                </div>
                            </div>

                            <input type="submit" name="g" value="Save" id="g" class="edit-save">

                        </form>

                    </div>
                    <div class="profile-review-wrapper col-50">
                        <% if(reviewCount == 0){%>
                            <h2>Reviews</h2>
                            <p>No reviews yet</p>
                        <% } else { %>
                            <h2>Reviews (<%= reviewCount %> total)</h2>
                        <%}%>
                        <% var reviewNum = 0;%>
                        <% reviews.forEach(function(review){ %>
                        <% reviewNum += 1;%>
                        <div class="container profile-review">
                            <div class="row">
                                <div class="col-7 resLink"><a href="/<%= review.resURL %>"><%= review.resName %></a></div>
                                <% var divID = "review-date" + reviewNum.toString();%>
                                <div class="col-4 review-date align-right" id='<%=divID%>'><%= review.date %></div>
                                <script>formatDate(<%= review.date.getDate() %>,<%= review.date.getMonth() %>,<%= review.date.getFullYear() %>,"<%=divID%>");</script>
                            </div>
                            <div class="row">
                                <% var divID = "review" + reviewNum.toString();%>
                                <div class="col-12" id='<%=divID%>'><%= review.rating %> out of 7 stars</div>
                                <script>getStarRating(<%= review.rating %>, "<%=divID%>");</script>
                            </div>
                            <div class="row">
                                <div class="col-12"><%= review.review %></div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>

<% include footer.ejs %>

</body>
</html>