<!DOCTYPE html>
<html>
<head>
    <title>Register New User</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/location.js"></script>
    <script src="javascripts/load.js"></script>
    <script src="javascripts/search.js"></script>
    <script src="javascripts/register.js"></script>
</head>
<body>
<div class="main-wrapper">

    <% include header.ejs %>

    <div class="user-form">

        <div class="user-border">

            <div class="user-title">Register New User</div>

            <div class="error"><%= error %></div>

            <div class="user-input-wrapper">

                <form id="registerForm" action="/register" onsubmit="registerValidate();" method="post">
                    <div class="row register">
                        <div id="fnError" class="form-error"></div>
                    </div>

                    <div class="row register">
                        <div class="col-4">
                            <label for='forename'>Forename:</label>
                        </div>
                        <div class="col-8">
                            <input type="'text" placeholder="Enter forename" name="f" id="forename"
                                   value="<%= values.fname %>">
                        </div>
                    </div>

                    <div class="row register">
                        <div id="snError" class="form-error"></div>
                    </div>

                    <div class="row register">
                        <div class="col-4">
                            <label for='surname'>Surname:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" placeholder="Enter surname" name="s" id="surname"
                                   value="<%= values.sname %>">
                        </div>
                    </div>

                    <div class="row register">
                        <div id="emError" class="form-error"><%= emerror %></div>
                    </div>

                    <div class="row register">
                        <div class="col-4">
                            <label for='email'>Email address:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" placeholder="Enter email" name="e" id="email"
                                   value="<%= values.email %>">
                        </div>
                    </div>

                    <div class="row register">
                        <div id="uError" class="form-error"><%= uerror %></div>
                    </div>

                    <div class="row register">
                        <div class="col-4">
                            <label for='username'>Username:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" placeholder="Enter username" name="u" id="username"
                                   value="<%= values.user %>">
                        </div>
                    </div>

                    <div class="row register">
                        <div id="pError" class="form-error"></div>
                    </div>

                    <div class="row register">
                        <div class="col-5">
                            <label for='password'>Password:</label>
                        </div>
                        <div class="col-7">
                            <input type="password" placeholder="Enter password" name="p" id="password">
                        </div>
                    </div>

                    <div class="row register">
                        <div id="p2Error" class="form-error"></div>
                    </div>

                    <div class="row register">
                        <div class="col-5">
                            <label for='username'>Confirm password:</label>
                        </div>
                        <div class="col-7">
                            <input type="password" placeholder="Confirm password" name="c" id="passwordconfirm">
                        </div>
                    </div>
                    <p style="text-align: center">By registering you agree to our
                        <a href="tandc" style="color:#6a97ff">Terms and Conditions</a>.
                    </p>
                    <input type="submit" name="g" value="Register" id="g" class="user-submit">
                </form>
            </div>
        </div>
    </div>
    <div id="results" style="margin-top:30px"></div>
    <div class="push"></div>
</div>

<% include footer.ejs %>

</body>
</html>
