<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefp0BJY5sxA-EwvtHo6a_Pd5_3gHVBF4"></script>
    <script src="javascripts/location.js"></script>
    <script src="javascripts/map.js"></script>
    <script src="javascripts/load.js"></script>
    <script src="javascripts/reviewRating.js"></script>
    <script src="javascripts/pricing.js"></script>
    <script src="javascripts/date.js"></script>
    <script src="javascripts/write-review.js"></script>
    <script src="javascripts/reviewajax.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>setupSocket();</script>
    <title><%= restaurant.name %></title>
</head>

<body onload="load();myMap();addMarkers(<%=restaurant.lat%>, <%=restaurant.lng%>)">
<div class="main-wrapper">

    <% include header.ejs %>

    <div class="col-100">
        <div class="restaurant-info m-font">
            <div class="row">
                <ul class="inline-list">
                    <li><p class="restaurant-title-font"><%= restaurant.name %></p></li>
                </ul>
            </div>

            <div class="row">
                <ul class="inline-list">
                    <% if (isNaN(restaurant.noRating) || restaurant.noRating == 0) {%>
                        <% restaurant.noRating = 1; %>
                    <% } %>
                    <li><div id="starRating" class="inline"></div> <div id="ratingText"><%= restaurant.rating / restaurant.noRating %> with <%= reviewCount %> reviews</div></li>

                    <li><%= restaurant.cuisines %></li>

                    <li class="no-wrap"><div id="resPrice" class="inline">Price</div></li>

                    <script>getPrice(<%= restaurant.price %>, "resPrice");</script>
                </ul>
            </div>

            <script>getStarRating(<%= restaurant.rating / restaurant.noRating %>, "starRating");</script>

            <div class="row">
                <ul class="inline-list">
                    <li><%= restaurant.address %> (<%= restaurant.distance %> kilometers away)</li>

                    <li class="no-wrap">
                        <span class="glyphicon glyphicon-earphone"></span> <%= restaurant.phoneNo %>
                    </li>

                    <li class="no-wrap">
                        <i class="fa fa-laptop"></i>
                        <a href="<%= restaurant.websiteURL %>" style="color:black;"><%= restaurant.websiteURL %></a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="slideshow-container">

                    <% var resPhotos = restaurant.photoURL.length; %>
                    <% console.log(resPhotos); %>
                    <% for (var i = 0; i < resPhotos ; i++) {%>
                        <div class="restaurant-img">
                            <img class="slideshow-img" src="/restaurant/<%= restaurant._id + "-" + i %>/picture">
                        </div>
                    <% } %>

                    <a id="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a id="next" onclick="plusSlides(1)">&#10095;</a>

                </div>
            </div>

            <div class = "row">
                <div class="restaurant-description col-50">
                    <p class="text"><%= restaurant.description %></p>
                </div>
                <div id="map" class="restaurant-map col-45"></div>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h1> Reviews </h1>
            </div>
            <div class="col-4">
                <% if (loggedIn !== false) {%>
                <% include create-review.ejs %>
                <%}%>
            </div>
        </div>

        <% if (loggedIn === false) {%>
        <p class="blackLink s-font"><a href="/login">Login</a> to leave a review</p>
        <%}%>

        <% if (reviewCount < 1){%>
        <p class="s-font">No reviews yet...</p>
        <%}%>

        <div id="updateable">
            <% var reviewNum = 0;%>

            <% reviews.forEach(function(review){ %>

            <% reviewNum += 1; %>

            <div class="container-fluid">

                <div class="row reviews s-font">
                    <div class="review-thumbnail-wrapper">
                        <a href="/profile-<%= review.username %>">
                            <img class="review-thumbnail" style="background: url('images/restTest1.jpg') 50% 50%; background-size: cover;">
                        </a>
                    </div>

                    <div class="review-wrapper">
                        <div class ="row">
                            <div class="review-header userLink"><a href="/profile-<%= review.username %>"><%= review.username %></a></div>
                            <% var divID = "review-date" + reviewNum.toString();%>
                            <div class="review-date align-right" id='<%=divID%>'><%= review.date %></div>
                            <script>formatDate(<%= review.date.getDate() %>,<%= review.date.getMonth() %>,<%= review.date.getFullYear() %>,"<%=divID%>");</script>
                        </div>

                        <div class ="row">
                            <% divID = "review-star" + reviewNum.toString();%>
                            <div class="col-12" id='<%=divID%>'><%= review.rating %> out of 7 Chips</div>
                            <script>getStarRating(<%= review.rating %>, "<%=divID%>");</script>
                        </div>

                        <div class ="row">
                            <div class="col-12"><%= review.review %></div>
                        </div>

                    </div>
                </div>

            </div>

            <hr>

            <% }); %>

        </div>

    </div>

    <div class="push"></div>

</div>

<% include footer.ejs %>

<script src="javascripts/slideshow.js"></script>
</body>
</html>