<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/location.js"></script>
    <script src="javascripts/load.js"></script>
    <title><%= restaurant.name %></title>
</head>
<body onload="load();">
<div class="mainWrapper">
    <% include header.ejs %>

    <div class="container-fluid restInfo">

        <div class="row">
            <ul class="inlineList">
                <li><p class="title"><%= restaurant.name %></p></li>
            </ul>
        </div>

        <div class = "row">
            <ul class="inlineList">
                <li><span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <%= restaurant.rating %> with <%= reviewCount %> reviews</li>
                <li>Cuisine(s)</li>
            </ul>
        </div>

        <div class = "row inlineList">
            <ul class="inlineList">
                <li><%= restaurant.address %> (<%= restaurant.distance %>miles away)</li>
                <li><span class="glyphicon glyphicon-earphone"></span> Phone Number</li>
                <li><i class="fa fa-laptop"></i>
                    <a href="<%= restaurant.websiteURL %>" style="color:black;"><%= restaurant.websiteURL %></a>
                </li>
            </ul>
        </div>

        <div class = "row">
            <div class="slideshow-container">
                <div class="restImg">
                    <img class="slideshowImg" src="images/restTest1.jpg">
                </div>
                <div class="restImg">
                    <img class="slideshowImg" src="images/restTest2.jpg">
                </div>
                <div class="restImg">
                    <img class="slideshowImg" src="images/restTest3.jpg">
                </div>
                <a id="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a id="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>

        <br>

        <div class = "row">
            <div class="col-8">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-4">
                <div id="map">
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <h1> Reviews </h1>
        <% if (loggedIn === false) {%>
            <p class="blackLink"><a href="/login">Login</a> to leave a review</p>
        <%}%>
        <% if (reviewCount < 1){%>
        <p>No reviews yet...</p>
        <%}%>
        <% reviews.forEach(function(review){ %>
        <div class="container-fluid">
            <div class="row reviews">
                <div class="col-2">
                    <div style="margin: auto 0;">
                    <img class="reviewThumbnail" style="background: url('images/restTest1.jpg') 50% 50%; background-size: cover;">
                    </div>
                </div>
                <div class="col-10">
                    <div class ="row">
                        <div class="col-3 userLink"><a href="/profile-<%= review.username %>"><%= review.username %></a></div>
                        <div class="col-3"><%= review.time %> on <%= review.date.getDate() %>-<%= review.date.getMonth() %>-<%= review.date.getFullYear() %></div>
                    </div>
                    <div class ="row">
                        <div class="col-12"><%= review.rating %> out of 7 Chips</div>
                    </div>
                    <div class ="row">
                        <div class="col-12"><%= review.review %></div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <div class="push"></div>
</div>

<% include footer.ejs %>

<script src="javascripts/slideshow.js"></script>
</body>
</html>