<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/location.js"></script>
    <script src="javascripts/reviewRating.js"></script>
    <title>Results</title>
</head>
<body>
<div class="mainWrapper">
    <% include header.ejs %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 resultsSearch">
                <form>
                    <input type="text" class="" placeholder="Enter keyword(s)">
                    <input type="submit" class="" value="Search">
                </form>
                <br>
                <p>Distance from me: <span id="distVal"></span> miles</p>
                <div class="slidecontainer">
                    <input type="range" min="1" max="25" value="10" class="slider" id="distRange">
                </div>
                <br>
                <p style="display: inline">Sort by:</p>
                <select name="sort" style="display: inline">
                    <option value="relevance">Relevance</option>
                    <option value="priceL2H">Price: Low to High</option>
                    <option value="priceH2L">Price: High to Low</option>
                    <option value="distance">Distance</option>
                </select>
            </div>
            <div class="col-9">
                <% var resNum = 0;%>
                <% results.forEach(function(item){ %>
                <% resNum += 1;%>
                    <div class="container">
                        <div class="row results">
                            <div class="col-2">
                                <img class="thumbnail" style="background: url('images/restTest1.jpg') 50% 50%; background-size: cover;">
                            </div>
                            <div class="col-10">
                                <% var divID = "res" + resNum.toString();%>
                                <div class="restName"> <a href="/<%= item.generateURL()%>"> <%= item.name %> </a> </div>
                                <div id='<%=divID%>'> Reviews </div>
                                <script>getStarRating(<%= item.rating %>, "<%=divID%>");</script>
                                Cusines <br>
                                <div id="dist"><%= item.distance %> miles away</div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
    <% include footer.ejs %>

    <script>
        var slider = document.getElementById("distRange");
        var output = document.getElementById("distVal");
        output.innerHTML = slider.value;

        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>

</body>
</html>