<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include stylesheets.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/location.js"></script>
    <script src="javascripts/reviewRating.js"></script>
    <script src="javascripts/pricing.js"></script>
    <script src="javascripts/results.js"></script>
    <script src="javascripts/searchajax.js"></script>
    <title>Results</title>
</head>

<body>
<div class="main-wrapper">

    <% include header.ejs %>

    <div class="results-wrapper">

        <div class="container-fluid row">

            <div class="results-search col-30 m-font">
                <form class="results-search-form" onsubmit="textQueryAjax(event)">
                    <div class="col-80">
                        <input type="text" id="results-keyword" class="results-search-text" placeholder="Enter keyword(s)">
                        <input type="text" id="results-postcode" class="results-search-text" placeholder="Enter postcode">
                    </div>
                    <div class="col-20">
                        <input type="submit" id="results-submit" class="results-submit" value="Search">
                    </div>
                </form>

                <div class="results-search-area xs-font">
                    <input type="radio" name="searchArea" id="nearMe" checked="checked" value="nearMe">
                    <label for="nearMe" class="search-area" >Search results near me</label>
                    <input type="radio" name="searchArea" id="all" value="all">
                    <label for="all" class="search-area" >Search all results</label>
                </div>

                <div class="results-sort m-font">
                    <p class="inline">Sort by:</p>
                    <select name="sort" class="inline" id="selectMe" onchange="sortAjax()">
                        <option value="relevance">Relevance</option>
                        <option value="priceL2H">Price: Low to High</option>
                        <option value="priceH2L">Price: High to Low</option>
                        <option value="distance">Distance</option>
                    </select>
                </div>

                <div class="results-distance m-font">
                    <p>Distance from me: <span id="distVal"></span> miles</p>
                    <div class="slidecontainer">
                        <input type="range" name="distance" min="1" max="25" value="10" class="slider" id="distRange" onchange="sliderAjax(event)">
                    </div>
                </div>

            </div>

            <div class="results-list-wrapper col-70">

                <% var resNum = 0;%>

                <div class="container-fluid">

                <% results.forEach(function(item){ %>
                <% resNum += 1;%>

                    <a href="/<%= item.generateURL()%>">

                        <div class="row results s-font">

                            <div class="result-thumbnail">
                                <img class="thumbnail" style="background: url('images/restTest1.jpg') 50% 50%; background-size: cover;">
                            </div>

                            <div class="results-info">
                                <div class="result-title row m-font">

                                    <div class="col-50">
                                        <div> <%= item.name %></div>
                                    </div>

                                    <div class="col-50">
                                        <% var divID = "resStar" + resNum.toString();%>
                                        <div class="align-right" id='<%=divID%>'> Reviews </div>
                                        <script>getStarRating(<%= item.rating %>, "<%=divID%>");</script>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-6">
                                        <%= item.cuisines %>
                                    </div>

                                    <div class="col-6">
                                        <% divID = "resPrice" + resNum.toString();%>%>
                                        <div class="align-right" id='<%=divID%>'> Price </div>
                                        <script>getPrice(<%= item.price %>, "<%=divID%>");</script>
                                    </div>

                                </div>

                                <div class="result-distance" id="dist"><%= item.distance %> miles away</div>

                            </div>
                        </div>
                    </a>

                    <hr>

                <% }); %>

                </div>
            </div>
        </div>
    </div>

    <div class="push"></div>

</div>

    <% include footer.ejs %>

    <script>sliderChange();</script>
    <script>radioButtonChange();</script>

</body>
</html>
